# Node.js
node_modules/
.env
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Producción (por si llegas a subir a vercel/railway/etc.)
dist/
